.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    /* border-right: 1px solid rgb(248, 248, 248); */
}

.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* border-right: 1px solid rgb(248, 248, 248); */
    background-color: #65baff;
    border-top-left-radius: 20px;
}
.sidebar__header__username{
    padding-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: x-large;
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__headerRight > button:hover{
    background-color: #f0f0f0 !important;
}

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

/* .sidebar__searchContainer > input{
    border: none;
    outline-width: 0;
    margin-left: 10px;
} */

.sidebar__searchContainer > button{
    margin-left: 10px;
    background-color: #37a4fd !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.sidebar__searchContainer > button:hover{
    background-color: #37a4fd !important;
}

.userOpts{
    z-index: 2 !important;
}

.sidebar__chats::-webkit-scrollbar-thumb {
    background-color: #37a4fd;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
    /* border-right: 1px solid rgb(248, 248, 248); */
  }
  
  .sidebar__chats::-webkit-scrollbar {
    width: 16px;
    border-right: 1px solid rgb(248, 248, 248);
  }
  
  .sidebar__chats {
    border-right: 1px solid rgb(248, 248, 248);
    overflow-y: scroll;
    background-color: white;
    border-bottom-left-radius: 20px;
    flex: 1;
  }